body {
  height: 240px;
 
 
  color: #2f4f4f;
}
.wrap {
  background: rgba(255, 255, 255, 0.2);
  width: 700px;
  height: 500px;
  margin: 5% auto;
  box-shadow: rgba(255, 255, 255, 0.1) 0px 1px 1px 0px inset,
    rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
  padding: 20px;
}
.countryNameInput {
  padding: 10px;
  border: none;
  box-shadow: rgba(0, 0, 0, 0.15) 2.4px 2.4px 2.2px;
}
.countryNameInput:focus,
.countryNameInput:active {
  outline-color: #2f4f4f;
}
.card {
  display: flex;
}
.img_flag {
  margin: 20px 0 0 40px;
}
